.btn {
  display: inline-block;
  padding: 0 30px;
  width: auto;
  height: 55px;
  min-width: 170px;
  border: none;
  border-radius: 28px;
  font-family: inherit;
  font-size: 1.8rem;
  line-height: 53px;
  vertical-align: top;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.14);
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background: #48b071;
}

.btn-primary:hover {
  background: #48a671;
}

.btn-secondary {
  color: #3c3c3b;
  background: #fff;
}

.btn-secondary:hover {
  background: #f5f5f5;
}

.btn:focus {
  outline: none;
}

.btn.disabled {
  background: rgba(72, 166, 113, 0.5);
}

.hover {
}
