.NavHeader {
  background: #3fa2b2;
  background-image: linear-gradient(to bottom right, #3fa2b2 0, #166a83 100%);
}

.Loader {
  font-size: 15rem;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 10rem;
}
