.TalkToUs {
  display: flex;
  max-width: 1140px;
  margin: auto;
  padding: 85px 40px 80px 40px;
  justify-content: space-between;
  align-content: center;
}

.TalkToUs h1 {
  color: #3c3c3b;
  font-size: 3.6rem;
  line-height: 1.8;
  margin: 0;
}

.TalkToUs__name {
  margin-left: 100px;
}

.TalkToUs__button button {
  position: relative;
  min-width: 55px;
  padding: 0;
}

.input {
  margin: 0 14px 0 0;
  width: 310px;
  height: 55px;
}

input {
  padding: 0 24px;
  width: 100%;
  border: 2px solid #efeff3;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  font-family: Roboto, 'Arial CE', Arial, sans-serif;
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 52px;
  font-weight: 400;
  color: #3c3c3b;
  outline: 0;
}

input:focus {
  border-color: #3fa2b2;
}

.TalkToUs img {
  position: absolute;
  left: 16px;
  top: 20px;
}

.TalkToUs .btn.disabled {
  background: transparent;
  border: 1px solid #48b071;
  cursor: initial;
}

.TalkToUs .btn.disabled img {
  position: absolute;
  left: 15px;
  top: 15px;
  width: 25px;
}
