.heroHeader {
	width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroHeader h2 {
	margin: 0 0 20px 0;
    font-size: 3rem;
    line-height: 1.4em;
    font-weight: 400;
    color: #ACE0EB;
    letter-spacing: 1.25px;
}

.heroHeader button {
	position: relative;
	top: -80px;
}