.btn {
	display: inline-block;
	padding: 0 30px;
	width: auto;
	height: 55px;
	min-width: 170px;
	border: none;
	border-radius: 28px;
	font-size: 1.8rem;
	line-height: 53px;
	vertical-align: top;
	text-decoration: none;
	text-align: center;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .14);
}

.btn-primary {
	color: #fff;
	background: #48B071;
}
