ul.nav {
	margin: 20px;
    height: auto;
    text-align: center;
    width: 650px;
}

ul.nav li {
	margin: 0;
	padding: 0;
}

.nav a {
	text-decoration: none;
	font-size: 1.5rem;
    text-transform: uppercase;
    color: #fff;
	font-weight: 500;
}

.nav a:hover {
	color: #7DBECB;
}